<div class="box">
<div class="img-box">
  <img src="../../../assets/images/orthoman.png" alt="skeleton" class="img-boy" usemap="#Map">
  <map name="Map" id="Map">
    <area href="#" alt="Carnial Nuro" title="Carnial Nuro" (click)="displayPart('Carnial Nuro',0)"   shape="poly" coords="244,70,243,59,244,49,246,39,250,34,255,27,265,19,274,18,285,18,298,19,307,28,313,39,314,46,316,57,317,66,281,64,278,60" style="outline:none;" target="_self"    />
    <area href="#" alt="Femrol Shaft" title="Femrol Shaft" (click)="displayPart('Femrol Shaft',-1)" shape="poly" coords="216,473,230,476,244,585,231,589" />
    <area href="#" alt="Femrol Shaft" title="Femrol Shaft" (click)="displayPart('Femrol Shaft',1)" shape="poly" coords="344,473,329,477,314,593,329,597" />
    <area href="#" alt="Tibial Shaft" title="Tibial Shaft" (click)="displayPart('Tibial Shaft',0)" shape="poly" coords="241,685,255,686,258,806,249,805" />
    <area href="#" alt="Tibial Shaft" title="Tibial Shaft" (click)="displayPart('Tibial Shaft',0)" shape="poly" coords="306,689,320,689,312,804,303,800" />
    <area href="#" alt="Fibula" title="Fibula" (click)="displayPart('Fibula',0)" shape="poly" coords="231,670,237,681,245,820,240,821" />
    <area href="#" alt="Fibula" title="Fibula" (click)="displayPart('Fibula',0)" shape="poly" coords="324.00000381469727,673.0000610351562,328.00000381469727,682.0000610351562,321.00000381469727,822.0000610351562,316.00000381469727,822.0000610351562" />
    <area href="#" alt="Knee Joint" title="Knee Joint" (click)="displayPart('Knee Joint',0)" shape="poly"  coords="227,611.0000610351562,238,602.0000610351562,253,605.0000610351562,264,615.0000610351562,266,634.0000610351562,264,652.0000610351562,259,664.0000610351562,251,671.0000610351562,241,670.0000610351562,232,667.0000610351562,222,654.0000610351562,223,635.0000610351562" />
    <area href="#" alt="Knee Joint" title="Knee Joint" (click)="displayPart('Knee Joint',0)" shape="poly"  coords="312,607.0000610351562,327,609.0000610351562,334,624.0000610351562,337,640.0000610351562,338,650.0000610351562,335,662.0000610351562,329,670.0000610351562,320,675.0000610351562,311,676.0000610351562,303,675.0000610351562,299,665.0000610351562,297,642.0000610351562,298,626.0000610351562"  />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="268,294,290,295,301,376,295,383,295,397,288,399,281,401,270,401,264,389,259,376" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />
    <area href="#" alt="virux" title="virus" (click)="displayPart(1,0)" shape="poly" coords="" />

  </map>
</div>


  <app-display-parts [parts]='parts'></app-display-parts>
</div>



