

.container{
    display:flex;
    flex-grow: row wrap;
}
.skeleton{
     position: absolute;
     left:0px;
     z-index:3;
}

canvas{
    position: relative;
    background-image: url('../../../../assets/images/orthoman.png');
    z-index:2;
}
.skeleton-bg{
    position:absolute;
    width:560px;
    height:900px;
    top:0;
    left:0px;
    background-image: url('../../../../assets/images/bg3.png');
    z-index:1;
}