.demo-tab-content{
    height:auto;
}
.demo-tab-group {
    width:80vw;
    border: 1px solid whitesmoke;
}
mat-tab{
    width:100%;
    min-height: 95vh;
    height:auto;
}
mat-icon{
    color: blue;
}
.example-tab-icon {
    margin-right: 8px;
}