.demo-tab-content{
    height:auto;
    padding: 16px;
}
.demo-tab-group {
    border: 1px solid whitesmoke;
}
mat-tab{
    width:100%;
    min-height: 80vh;
    height:auto;
    
}
mat-icon{
    color: blue;
}