<!-- <mat-card>
     <app-patient-search (idSelected)="getId($event)"></app-patient-search>
</mat-card>      -->
<mat-tab-group class="demo-tab-group">
    <mat-tab label="Tab 3" >
        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            <b>Details</b>
        </ng-template>
        <div class="demo-tab-content">
            Comming Soon {{id}}
        </div> 
    </mat-tab>

    <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>accessibility</mat-icon>
          <b>AO Fracture</b>
        </ng-template>
        <div class="demo-tab-content">
          <app-skeleton ></app-skeleton>
        </div>
    </mat-tab>

    <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            Comming Soon
        </div>  
    </mat-tab>

    <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>where_to_vote</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            Comming Soon
        </div>  
    </mat-tab>

    <mat-tab label="Tab 5">
      <ng-template mat-tab-label>
        <mat-icon>healing</mat-icon>
      </ng-template>
      <div class="demo-tab-content">
          comming Soon 
      </div>  
    </mat-tab>

    <mat-tab label="Tab 6">
        <ng-template mat-tab-label>
          <mat-icon>fitness_center</mat-icon>
        </ng-template>
        <div class="demo-tab-content">
            Comming Soon
        </div>  
    </mat-tab>
</mat-tab-group>
