<mat-card>
  <div class="details">
    <div class="head-details">
      <div class="user-img">
        <img src="assets/images/user.png" alt="user">
      </div>
      <div class="primary-details">
        <h1>Vinay Kumar</h1>
        <h4>
          <span>Gender:</span> Male </h4>
        <h4>
          <span>Age:</span> 19 </h4>
        <h4>
          <span>Place:</span> Bhimavaram </h4>
        <h4>
          <span>Ph.no:</span> 9177912147 </h4>
        <h4>
          <span>Adahar No.:</span> 9177 9121 4734 1323 </h4>
      </div>
    </div>
    <div class="health-details">
      <h1>Critical Details</h1>
      <div class="critical-details">
        <p>
          When at last he saw her, a Wednesday morning’s rain dripped from the maples, and what the sleepless nights had rehearsed
          flew out of his mind, leaving him empty and lost, as though part of his soul had been torn out and fashioned into
          the dark-haired woman who wore a raincoat and held an umbrella, who hesitated on the steps then slowly approached
          him, reading in his eyes the words he could never have found to say.
        </p>
      </div>
    </div>
  </div>
</mat-card>