span{
    color: silver;
    padding-right: 10px;
}
.details{
    padding: 20px;
}
.head-details{
    display: flex;
    padding: 10px;
    align-items: center;
}
.user-img{
    width: 160px;
    height: 160px;
    margin-right:40px;
}
h1{
    font-weight: 150;
}