.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    color:grey;
    font-size: 1.6rem;
}
.card{
    width: 60%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 30px;
}
.user-item{
    color: red;
    font-size: 60px;
}
