.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
}
.content{
    position: relative;
    top: -63px;
    left: 0;
    color:blue;
    font-size: 1.6rem;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}
.patient-card{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width:100%;
}
.patient-img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.patient-details span{
    color: grey;
}
.patient-details{
    width:100%;
}
mat-icon{
    font-size: 50px;
    color:blue;
}
.patient-card{
    width:300px;
    max-width: auto;
}

