.sidenav-container {
  height:100%;
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.nav-bar{
  width:100vw;
  position:fixed;
  height:9vh;
  z-index:4;
}
.tool-bar{
  height:9vh;
}
.mat-drawer-content {
  overflow: auto;
}
.view-box{
  margin-top:9vh;
  margin-left:200px;
}
.example-spacer {
  flex: 2 2 auto;
}
mat-sidenav-content{
  margin-left:0px !important;;
}
.example-spacer {
  flex: 1 1 auto;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin:5px;
}




@media only screen and (max-width: 958px) {
  .view-box{
    margin-left:0px;
  }
}