<mat-card class="card">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Adahar number" name="adahar" [(ngModel)]="patient.adahar">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="patient.name" >
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="place" name="place" [(ngModel)]="patient.place" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone Number" name="number" [(ngModel)]="patient.number" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Age" name="age" [(ngModel)]="patient.age" >
        </mat-form-field>

        <mat-radio-group class="example-radio-group" name="gender" [(ngModel)]="patient.gender">
            <mat-radio-button class="example-radio-button" value="male">
              Male
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="female">
              Female
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Other">
              Other
            </mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
    </form>
</mat-card>
