<mat-card class="container">
      <mat-progress-spinner
          class="item"
          [color]="'warn'"
          [mode]="'determinate'"
          [value]="value">
      </mat-progress-spinner>
      <div class="content">
          {{currentCount}}/{{totalCount}}
      </div>
      <div class="user">
          <div class="btn">
                <button mat-icon-button class="user-item" (click)="allowPatient(-1)">
                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
                </button>
          </div>
          
          <mat-card class="patient-card">
                <div class="patient-img">
                    <img src="{{currentUser.avtar}}" alt="user">
                </div>
                <div class="patient-details">
                    <h4><span>Name:</span> {{currentUser.name}}</h4>
                    <h4><span>Gender:</span> {{currentUser.gender}}</h4>
                    <!-- <h4><span>Problem:</span> {{currentUser.problem}} </h4> -->
                    <h4> <span>Place:</span> {{currentUser.place}} </h4>
                </div>
          </mat-card>
          <div class="btn">
                <button mat-icon-button class="user-item" (click)="allowPatient(1)">
                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
                </button>
          </div>
          
      </div>
</mat-card>